body {
    font-family: sans-serif;
    background-color: #ecf0f1;
    
    max-width: 700px;
    margin-left: 200px;
}

nav {
    background-color: #34495e;
    padding: 10px;
    margin: 0 0 10px 0;
}
nav a, nav a:visited {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: serif;
    color: #34495e;
}

a {
    color: #2980b9;
}
a:visited {
    color: #8e44ad;
}

p {
    margin-top: 0;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}